header{
    background-color:#f63232;
    text-align:center;
    padding: 10px;
    width:auto;
}
header h1{
    color:white;
    border:8px solid white;
    border-radius: 30px;
    padding:5px 10px;
    display:inline-block
}